# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/

